.project
target/
build/
out/
.gradle
.settings
.classpath
*.iml
.idea
dependency-reduced-pom.xml
.DS_Store
.contract
**/docker.info
generated-sources
generated-src
schema/episodes/*
node_modules/
dist/
**/activemq-data/*
**/package-lock.json